<head>
    <title>Adicionar Saldo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  
<body>
    <div class="page-center">
    <div class="container">

      <h1>Adicionar Saldo</h1>
  
      <p>Olá, {{ name }}! Seu saldo atual é: 
          <strong>R$ {{ '%.2f'|format(balance) }}</strong>
      </p>
  
      {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="msg-success">
                  {{ messages[0] }}
            </div>
          {% endif %}
      {% endwith %}
  
      <form method="post">
          <div class="form-group">
              <label>Digite o valor a adicionar:</label>
              <input type="number" name="balance" step="0.01" required>
          </div>
  
          <button type="submit">Adicionar Saldo</button>
      </form>
  
      <br>
      <a href="/login">sair</a>
  
    </div>
  </div>
</body>