<head>
  <title>Lista de usuarios</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="page-center">
    <div class="container">

      <h1>Usuarios</h1>

      <a href="/register_user" class="adicionar">Adicionar usuario</a>

      <ol class="crud">
        {% for user in users %}
        <li>
          <p>{{user[1]}}</p>
          <a href="/update_user/{{user[0]}}">Atualizar</a>
          <a href="/confirm_delete_user/{{user[0]}}">Remover</a>
        </li>
        {% endfor %}
      </ol>

      <a href="/home" class="voltar">voltar</a>

    </div>
  </div>
</body>