<head>
  <title>Lista de produtos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <h1> Produtos </h1>

  <ol>

    {% for product in products %}

    <li>
      <p>{{product[1]}}</p>
      <a href="/update_prod/{{product[0]}}">Atualizar</a>
      <a href="/confirm_delete_prod/{{product[0]}}">Remover</a>
    </li>

    {% endfor %}

  </ol>

  <a href="/register_prod">Adicionar produto</a>
  <a href="/home">voltar</a>

</body>