<head>
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <h1>Register</h1>
  <form method="post">
    <div>
      <label>nome</label>
      <input id="name" name = "name">
    </div>
    
    <div>
      <label>rfid</label>
      <input id="rfid" name="rfid">
    </div>

    <div>
      <label>saldo</label>
      <input id="balance" name="balance">
    </div>

    <button type="submit">Register</button>
</form>
<a href="/list_user">voltar</a>
</body>